<section class="section-sm">
    <div class="owl-carousel text-center" data-items="1" data-sm-items="2" data-md-items="4" data-lg-items="5"
        data-xl-items="6" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false"
        data-dots="false" data-autoplay="true" data-autoplay-speed="200">
        <div class="item">
            <img src="/images/index/logos/sanus.png" alt="Sanus Logo" />
        </div>
        <div class="item">
            <img src="/images/index/logos/nest.png" alt="Nest Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/jvc.png" alt="JVC Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/sony.png" alt="Sony Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/total-control.png" alt="Total Control
          Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/niles.png" alt="Niles Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/nuvo.png" alt="Nuvo Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/dsc.png" alt="DSC Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/urc.png" alt="URC Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/lg.png" alt="LG Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/samsung.png" alt="Samsung Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/episode-speakers.png" alt="Episode
          speakers Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/palliser.png" alt="Palliser Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/kwikset.png" alt="Kwikset Logo">
        </div>
        <div class="item">
            <img src="/images/index/logos/sharp.png" alt="Sharp Logo">
        </div>
    </div>
</section>