<section class="section-sm bg-accent">
    <div class="container">
        <div class="row row-50">
            <div class="col-md-6">
                <h3>Serving Edmonton &amp; Surrounding Areas</h3>
                <img src="{{ .Site.BaseURL }}images/about_areas.png" alt="">
                <p>Paramount is proud to serve Edmonton and it's surrounding areas including: Sherwood Park, St.Albert,
                    Ft.Saskatchewan, Spruce Grove, Stony Plain, Beaumont, Leduc, and more!</p>
            </div>
            <div class="col-md-6">
                <h3>We sell TV's at Wholesale - Delivered, Mounted & Installed</h3>
                <img src="{{ .Site.BaseURL }}images/index/wall-mount-install.png" alt="">
                <p>Contact us to get a wholesale price on any television. We also mount / install any television whether
                    you
                    bought it from us or not.</p>
            </div>
        </div>
    </div>
</section>
<footer class="footer-modern">
    <div class="container">
        <div class="footer-modern__layer footer-modern__layer_top">
            <a class="brand" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/logo.png" width="132px"
                    height="28px" alt="ParamountAV Logo" /></a>
            <ul class="list-nav">
                {{ partial "links.html" . }}
            </ul>
            <ul class="list-inline-xxs footer-modern__list">
                <li><a class="icon icon-sm icon-primary fa fa-facebook" href="https://www.facebook.com/paramountav"></a>
                </li>
            </ul>
        </div>
        <div class="footer-modern__layer footer-modern__layer_bottom">
            <p class="rights">
                {{ .Site.Copyright }}
            </p>
            <ul class="list-bordered">
                <li>
                    <dl class="list-terms-minimal">
                        <dt>Phones</dt>
                        <dd>
                            <ul class="list-semicolon">
                                <li><a href="tel:(780) 965-0453">(780) 965-0453</a></li>
                            </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl class="list-terms-minimal">
                        <dt>E-mail</dt>
                        <dd><a href="mailto:chris@paramountav.ca">chris@paramountav.ca</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>