<section class="section-sm bg-default">
    <div class="container">
        <div class="row row-60">
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/home-automation/">
                    <div class="iconHome iconHomeAutomation"></div>
                    <p>Home Automation</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/home-security/">
                    <div class="iconHome iconHomeSecurity"></div>
                    <p>Home Security</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/home-theatre/">
                    <div class="iconHome iconHomeTheatre"></div>
                    <p>Home Theatre / Seating</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/multi-room-audio-music/">
                    <div class="iconHome iconHomeAudio"></div>
                    <p>Multi-Room Audio / Music</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/video-televisions/">
                    <div class="iconHome iconHomeVideo"></div>
                    <p>Video / Televisions</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/surveillance-cameras/">
                    <div class="iconHome iconHomeSurveillance"></div>
                    <p>Surveillance / Cameras</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/automated-garage-doors/">
                    <div class="iconHome iconHomeAutomatedGarageDoors"></div>
                    <p>Automated Garage Doors</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/climate-control-thermostats/">
                    <div class="iconHome iconHomeClimateControlThermostats"></div>
                    <p>Climate Control / Thermostats</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/automated-blinds/">
                    <div class="iconHome iconHomeAutomatedBlinds"></div>
                    <p>Automated Blinds</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/automated-door-locks/">
                    <div class="iconHome iconHomeDoorLocks"></div>
                    <p>Automated 2-Way Door Locks</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/automated-lighting/">
                    <div class="iconHome iconHomeLighting"></div>
                    <p>Automated Lighting</p>
                </a></div>
            <div class="col-md-4 col-xl-2 service_item"><a href="/what-we-do/supply-and-install/">
                    <div class="iconHome iconHomeSupplyInstall"></div>
                    <p>Supply & Install</p>
                </a></div>



        </div>
    </div>
</section>